.results-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  margin: 20px auto;
}
app-gif-search-result {
  flex: 0 1 auto;
  margin: 0 10px 10px 0;
}
