<h1>GIF Search</h1>

<input #searchInput (keyup)="searchGif(searchInput.value)" class="form-control search-input" placeholder="Search here, i.e. 'doggo 🐶'">

<!-- TODO: improve this -->
<div *ngIf="isLoading">
  I am loading
</div>

<!-- TODO: refactor the ifs with ng containers for is loading or something that makes more sense -->
<ng-container *ngIf="!isLoading && searchResults?.length">
  <div class="results-meta">
    Showing results <b>{{ searchResultsMeta.offset + 1 }} - {{ searchResultsMeta.offset + searchResultsMeta.count }}</b> out of
    <b>{{ searchResultsMeta.total_count }}</b> items
  </div>
  <div class="results-container">
    <app-gif-search-result *ngFor="let image of searchResults" [gif]="image"></app-gif-search-result>
  </div>
</ng-container>
